*{
    text-align: center;
}

body{
    background-image: url("./backblack.jpg");
    overflow-y: auto;
}

.card{
   
    display:block;
    margin:auto;
}

.col-3{
    overflow: auto; 
    color: whitesmoke;
    height: 90vh;
}

#container{
    top: 30%;
    left: 50%;
}

.icon{
    height: 80px;
    width: auto;
}

.img{
    max-width: 7rem;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: absolute;
  }
  
  .play{
    height: 20rem;
    padding-top: 3rem;
   padding-bottom: 3rem ;
   position: relative;
}
  
.row{
overflow-y:auto;
position: relative;
padding-top: 5rem;
position: relative;

}

.showCards{
    height: 15rem;
    width: auto;
    padding-bottom: 3rem ;
    text-align: center;
    display:block;
    margin:auto;
}

.title{
    padding-top: 1rem;
}






