*{
    font-family: 'Acme', sans-serif;
    color: whitesmoke;
}

.alert{
    text-align: center;
}
body{
    background-image: url("../assets/backblack.jpg");
    overflow-y: auto;
}
 button{
     margin-top: 2rem;
     margin-left: 1rem;
     margin-bottom: 2rem;
 }
.start{
    font-size: 1.2rem;
}

.card{
   
    display:block;
    margin:auto;
}

.col-3{
    overflow: auto; 
    color: whitesmoke;
    height: 90vh;
}

#container{
    top: 30%;
    left: 50%;
}

.help{
    margin-top: 1rem;
position: relative;
}

.icon{
    height: 80px;
    width: auto;
}

.img{
    max-width: 7rem;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: absolute;
  }
  
  .play{
    height: 20rem;
    margin-top: 5rem;
    margin-bottom: 3rem ;
    position: relative;
    text-align: center;
}
  
.questionMark{
    position: absolute;
    text-align: center;
    background-color: rgb(139, 160, 170);
    border-radius: 50%;
    width: 24px;
    height: 24px;

  }

.row{
    overflow-y:auto;
    position: relative;
    margin-top: 5.5rem;
    position: relative;

}

.showCards{
    height: 15rem;
    width: auto;
    text-align: center;
    display:block;
    margin:auto;
}

.shown, .hidden{
    font-size: 1.5rem;
}
.title{
    margin-top: 1rem;
}

